# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Ignore all node_modules folders:
node_modules

# Logs
logs
*.log

# Ignore specific files:
*.min.js
*.map

# Ignore specific directories:
public

# Ignore package-lock.json
package-lock.json